* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.mainnav {
    display: flex;
    width: 100%;
    height: 111px;
    background: linear-gradient(90deg, #603996 50%, #357BBC 100%);
}

.menunav {
    display: flex;
    width: 100%;
    height: 34px;
    background: linear-gradient(90deg, rgba(96, 57, 150, 0.42) 49.9%, #357BBC 99.9%);
    padding-left: 10%;
}

footer {
    display: flex;
    width: 1440px;
    height: 10px;
    background: #57489D;
}

main {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    align-items: center;
    grid-gap: 50px;
    width: 90%;
    align-items: center;
    margin: 10% auto;
}

.classes {
    grid-column: 1;
    height: 614px;
    background: #E5E5E5;
}

.students {
    grid-column: 2;
    height: 614px;
    background: #E5E5E5;
}

.assignment {
    grid-column: 3;
    height: 614px;
    background: #E5E5E5;
}

.c-class {
    grid-column: 4;
    height: 614px;
    background: #E5E5E5;
}

.class-header {
    width: 100%;
    height: 126px;
    /* Blue 1 */
    background: #2F80ED;
    margin: 0;
    padding: 10%;
}

.students-header {
    width: 100%;
    height: 126px;
    padding: 10%;
    /* Blue 1 */
    background: #9B51E0;
}

.assignment-header {
    width: 100%;
    height: 126px;
    padding: 10%;
    /* Blue 1 */
    background: #6FCF97;
}

.c-class-header {
    width: 100%;
    height: 126px;
    padding: 10%;
    /* Blue 1 */
    background: #357BBC;
}

#logo {
    width: 100%;
    padding-left: 100%;
    padding-top: 100%;
    clear: both;
}

.profile-pic {
    display: block;
    width: 30%;
    margin-top: 4%;
    width: 104px;
    height: 104px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5%;
}

.right-float {
    float: right !important;
}

.profile-pic img {
    width: 100%;
}

.icons {
    margin: auto;
    width: 25%;
    display: block;
}

.username {
    margin: auto;
    text-align: center;
}

.menu-button {
    width: 151px;
    height: 34px;
    text-align: center;
    color: white;
    background: #9a7cc5;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.menu-button:active {
    background: #603996;
}

a {
    text-decoration: none;
    color: white;
}

.content-header {
    text-align: center;
}

.box-content {
    padding: 10%;
}


/*create Class Form */


.form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 10px;
}

#c-class-form {
    margin: 5% auto;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 3px solid red;
    padding-bottom: 20px
}

.c-class-form-header {
    width: 100%;
    height: 126px;
    padding: 5% 10% 10% 5%;
 
    /* Blue 1 */
    background: #357BBC;
}
.c-class-form-header img{
    width: 70px;
    float: left;
   
    
    
}

[form]{
    width: 60%;
    margin: auto;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 15px;
    box-shadow: 5px 5px #00000029;
}

.content-header h3 {
   color: #fff;
    font-size: 25px;
    text-align: center;
  
}


input[type="text"]{
    padding-top: 2px;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    width: 80%;
    background: transparent;
    border-bottom: 1px solid #DBD9D9;
    margin-bottom: 3px;
    overflow: hidden;
    line-height: 30px;
    margin: 10px auto;
}

textarea{
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    width: 80%;
    background: transparent;
    border-bottom: 1px solid #DBD9D9;;
    
    overflow: hidden;
    height: 70px;
    margin: 10px auto;
}


input[type="submit"] {
    margin: 20px auto;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    width: 80%;
    color: #fff;
    margin-top: 30px ;
    margin-bottom: 50px;
    padding: 12px;
    border-radius: 20px;
    background: #357BBC;
}
