body{
    background-image: none;
}

#wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
}
#wrapper a{
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    color: black; 
}

#faq{
    width: 70%;
    margin: 0 auto;
}

div.question{
    margin-bottom: 25px; 
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background: #57489D;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    padding: 8px 30px;
    
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover {
    background-color: rgba(88, 72, 157, 0.795);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 25px;
    background: #FFFEFE;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p{
      padding-top: 10px;
  }

  .active1, .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active1:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }



  #teacher-faq{
      display: none;
  }

  #student-faq{
      display: none;
  }

  @media only screen and (max-width:615px) {
    #faq{
        width: 90%;
        margin: 0 auto;
    }
}

footer {
    background: #57489D;
    position: fixed;
    height: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}