* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100vw;
    min-height: 100vh;
}


/**************Header Style ***************/

.header {
    position: relative;
}

.dash-header {
    background: #603996;
    color: #fff;
    padding: 34px 81px;
    position: relative;
}

.dash-header .dash-logo {
    padding-right: 11px;
}

.dash-header .dash-profile .name {
    padding-top: 9px;
}

.dash-header .dash-profile {
    display: flex;
    text-align: right;
    position: absolute;
    right: 95px;
    top: 45px;
}

.dash-header .dash-profile p {
    color: white;
    font-size: 16px;
    margin-bottom: -14px;
}

.dash-header .dash-profile h1 {
    font-size: 22px;
    text-transform: uppercase;
}

.dash-header .dash-profile #image {
    border-radius: 50%;
    width: 118px;
    height: 118px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 9;
}

.dash-header .dash-profile .image-container {
    display: flex;
}

.dash-header .dash-profile .drop-down {
    padding-top: 41px;
}

.dash-header .dash-profile #arrow {
    float: left;
    margin-left: -7px;
}

.dash-header .dash-profile ul {
    padding: 11px;
    background: #357BBC;
    border-radius: 11px;
    margin-left: -15px;
    margin-top: 25px;
    display: none;
    position: absolute;
    z-index: 5;
}

.dash-header .dash-profile ul li {
    list-style: none;
    text-align: left;
    padding-bottom: 25px;
}

.dash-header .dash-profile ul li a {
    color: white;
    text-decoration: none;
}

.extra-bg {
    background: #8467AE;
    height: 32px;
}

.extra-bg #mb-nav-icon {
    display: none;
}

.side-bar {
    background: #E5E3E3;
    width: 255px;
    height: calc(100vh - 141px);
    position: absolute;
    top: 141px;
    padding-top: 131px;
}

.side-bar .menu {
    padding: 25px 0;
    background: white;
    display: flex;
    justify-content: center
}

.body {
    background: white;
    min-height: 81vh;
    padding-left: 255px;
}

.topnav {
    overflow: hidden;
    margin-left: 60px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 0px;
    /* margin-right: 10px; */
    text-decoration: none !important;
    font-size: 15px;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px inset #8467AE;
}

.topnav a:hover {
    background-color: #603996;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    color: white;
}

.topnav a:active {
    background-color: #603996;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav {
        overflow: hidden;
        margin-left: 0px;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        display: block;
        border: none !important;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        background: linear-gradient(90deg, rgba(96, 57, 150, 0.42) 49.9%, #357BBC 99.9%);
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        border: none !important;
    }
}


/*------------------------------------MOBILE=--------------------------------- MOBILE------------*/

@media only screen and (max-width:615px) {
    .dash-header {
        padding: 19px 15px;
        position: relative;
        display: flex;
        justify-content: space-around;
    }
    .dash-header .dash-profile {
        display: flex;
        position: relative;
        right: 0px;
        top: 0px;
        width: 63%;
    }
    .dash-header .dash-profile p {
        font-size: 14px !important;
    }
    .dash-header .dash-profile h1 {
        font-size: 16px!important;
    }
    .dash-header .dash-profile #image {
        width: 68px;
        height: 68px;
    }
    /*.dash-header .dash-profile .image-container{
		display: flex;
	}*/
    .dash-header .dash-profile .drop-down {
        padding-top: 19px;
    }
    /*.dash-header .dash-profile #arrow{
		float: left;
		margin-left: -7px;
	}*/
    /*.extra-bg{
		background: linear-gradient(90deg, rgba(96, 57, 150, 0.42) 49.9%, #357BBC 99.9%);
		height:31px;
	}*/
    .dash-header .dash-logo {
        padding-right: 11px;
    }
    .extra-bg {
        position: relative;
    }
    .side-bar {
        background: #E5E3E3;
        width: 0px;
        height: calc(100vh - 141px);
        overflow: hidden;
        position: absolute;
        top: 145px;
        padding-top: 51px;
        transition: all ease .3s;
    }
    .extra-bg #mb-nav-icon {
        display: block;
        position: absolute;
        top: 8px;
        left: 15px;
        color: white;
        font-size: 18px;
    }
    .side-bar .menu {
        padding: 21px 0;
    }
    .body {
        min-height: height: calc(100vh - 141px);
        padding-left: 1px;
    }
}

@media only screen and (max-width:341px) {
    .side-bar {
        top: 145px;
    }
    .wrapper {}
}

footer {
    background: #57489D;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
}


/****************************************/

.main-content {
    margin-top: 50px;
}

.banner {
    background: url("https://res.cloudinary.com/jimmynewtron/image/upload/v1570121062/artemis/banner-bg_ikfxu1.png") no-repeat top;
    background-size: cover;
    padding: 20px;
    height: 380px;
    border-bottom-right-radius: 50px;
    margin-bottom: 20px;
}


/********************/

.course-title .courseTitle {
    color: #EE4698;
    font-size: 1em;
}

.course-title h3,
.content h4,
.overview h4,
.overview h5,
.requirement h4 {
    color: #7A7272;
    font-family: 'Imprima', sans-serif;
}

.overview ul {
    list-style-type: none;
}

.requirement {
    margin-bottom: 80px;
}

.land-enroll_btn {
    text-align: center;
}

.land-enroll_btn button {
    padding: 10px;
    background: #603996;
    border: 3px solid #FFFFFF;
    border-radius: 2px;
    color: #fff;
    border-radius: 10px;
    float: right;
}

.land-enroll_btn button a {
    text-decoration: none;
    color: #FFFFFF;
}


/*********************/

.img {
    width: 80%;
    margin: 100px auto;
}

.overview div {
    outline-offset: 34px;
}

.content div ol>li {
    border-bottom: 1px solid #C2BCBC;
    padding: 10px;
    list-style-type: decimal;
}

.module_breakdown {
    display: none;
}

.content div ol ul>li {
    list-style-type: decimal;
    padding-top: 10px;
}

.displayed {
    display: block;
}

.content div ol ul>li svg {
    margin: 0 10px;
}

.content div ol>li {
    position: relative;
    max-width: 100%;
}

.content div ol>li svg {
    position: absolute;
    top: 15;
    right: 0
}

@media screen and (max-width: 765px) {
    .container {
        width: 100%;
    }
    .img {
        width: 100%
    }
    .img img {
        width: 70%;
        height: 70%;
    }
}