* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.mainnav {
    display: flex;
    width: 100%;
    height: 111px;
    background: linear-gradient(90deg, #603996 50%, #357BBC 100%);
}

.menunav {
    display: flex;
    width: 100%;
    height: 34px;
    background: linear-gradient(90deg, rgba(96, 57, 150, 0.42) 49.9%, #357BBC 99.9%);
    padding-left: 10%;
}

footer {
    display: flex;
    width: 1440px;
    height: 10px;
    background: #57489D;
}

main {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    align-items: center;
    grid-gap: 50px;
    width: 90%;
    align-items: center;
    margin: 10% auto;
}

.classes {
    grid-column: 1;
    height: 614px;
    background: #E5E5E5;
}

.students {
    grid-column: 2;
    height: 614px;
    background: #E5E5E5;
}

.assignment {
    grid-column: 3;
    height: 614px;
    background: #E5E5E5;
}

.c-class {
    grid-column: 4;
    height: 614px;
    background: #E5E5E5;
}

.class-header {
    width: 100%;
    height: 126px;
    /* Blue 1 */
    background: #2F80ED;
    margin: 0;
    padding: 10%;
}

.students-header {
    width: 100%;
    height: 126px;
    padding: 10%;
    /* Blue 1 */
    background: #9B51E0;
}

.assignment-header {
    width: 100%;
    height: 126px;
    padding: 10%;
    /* Blue 1 */
    background: #6FCF97;
}

.c-class-header {
    width: 100%;
    height: 126px;
    padding: 10%;
    /* Blue 1 */
    background: #357BBC;
}

#logo {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 80px;
    top: 34px;
}

.profile-pic {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 1146px;
    top: 61px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.right-float {
    float: right !important;
}

.profile-pic img {
    width: 100%;
}

.small {
    width: 15% !important;
}

.medium {
    width: 50% !important;
}

.icons {
    margin: auto;
    width: 25%;
    display: block;
}

.username {
    margin: auto;
    text-align: center;
}

.menu-dropdown {
    position: absolute;
    width: 39px;
    height: 26.15px;
    left: 1244px;
    top: 98px;
    background: linear-gradient(90deg, #603996 50%, #357BBC 100%);
    border-radius: 0px 30px 30px 0px;
}

.menu-button a {
    padding: 10px;
    width: 151px;
    height: 34px;
    text-align: center;
    color: white;
    background: #9a7cc5;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.center {
    margin: auto;
}

.menu-button a:active {
    background: #603996;
}

.menu-button a:hover {
    background: #603996;
}

a {
    text-decoration: none;
    color: white;
}

.content-header {
    text-align: center;
}

.content {
    padding: 10px;
}

.content h5 {
    margin-bottom: -16px;
    font-size: 16px;
    color: #000;
}

.content p {
    font-size: 14px;
    color: #000;
    font-family: 'Titillium Web', sans-serif;
}

.edit {
    color: #000000;
}

#edit-profile {
    position: absolute;
    width: 142px;
    height: 35px;
    left: 1129px;
    top: 175px;
    background: #603996;
    border-radius: 20px;
}

#username {
    position: absolute;
    width: 161px;
    height: 21px;
    left: 980px;
    top: 83px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

/*--------------------------------------------------*/


/* Teacher dashboard edit */
.app {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}
.padding {
    padding: 3rem;
}
.app-content {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: none
}
.content-main {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}
.aside{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 1030;
    opacity: 1;
    min-height: 100%;
    background-color: #E5E3E3 !important;
}
.navbar ul{
    text-transform: uppercase;
    margin: 100px 0  0 -20px;
    font-weight: 300;

}
.navbar ul li{
    width: 30vh;
    background-color: #ffffff;
    margin-right:!important; 

}
.navbar ul li a{
    color: #333 !important; 
    padding: 20px;  
    text-align: center
}
.nav-icon {
    margin-right: .5rem;
    margin-left: -.25rem;
    font-size: 1.2rem;
    top: 0;
    width: 2.25rem;
    height: 2.25rem;
    text-align: center;
    transition: font-color .15s ease-in-out
}
.nav-icon i {
    position: relative;
    line-height: 1;
    transition: all .15s ease-in-out
}
.main-content{
   display: flex;
    width: 100%;
}
.box{   
    background: #E5E3E3;
    padding: 20px;
    box-shadow: 0px 15px 20px rgba(55, 72, 59, 0.03);
    color: #333;
    margin-bottom: 20px;
}
.box-header {
    font-family: Nunito;
    font-weight: bold;
    font-size: 24px;
    color: #4d4f53;
    position: relative;
    padding: .7rem;
    text-align: center;
    text-transform: uppercase;
}
.box-body {
    padding: 1rem;
}
.d-box{
    background: #E5E3E3;
    padding: 20px;
    box-shadow: 0px 15px 20px rgba(55, 72, 59, 0.03);
    color: #333;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 1.3rem;
    width: 147px;

}
.btn-profile{
    width: 150px;
    height: 45px;
    left: 437px;
    top: 442px;
    background: #603996;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    border: none;
}
.btn-profile:focus{
    outline: none;
}
.btn-file{
    width: 100px;
    height: 45px;
    margin: 10px 10px 10px 10px;
    background: #357BBC;
    position: relative;
}
.btn-file input[type="file"]{
    margin: 10px 10px 10px 10px;
    width: 262px;
    height: 45px;
    left: 766px;
    top: 442px;
    background: #C4C4C4;
}
.v-img{
     position: relative;
     max-width: 270px;
     margin: 0 auto 0 auto;

}
.v-img .avatar-preview {
  width: 250px;
  height: 250px;
  position: relative;
  border: 1px solid #333;
  border-radius: 250px; 
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.v-img .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-backface-visibility: hidden;
}


@media only screen and (max-width: 768px) {
    main {
        display: block;
        width: 100%;
    }
    .profile-pic {
        margin: auto;
        display: block;
    }
}


/*create Class Form */

.form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 10px;
}

#c-class-form {
    margin: 5% auto;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 20px
}

.c-class-form-header {
    width: 100%;
    height: 126px;
    padding: 5% 10% 10% 5%;
    /* Blue 1 */
    background: #357BBC;
}

.c-class-form-header img {
    width: 70px;
    float: left;
}

[form] {
    width: 60%;
    margin: auto;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 15px;
    box-shadow: 5px 5px #00000029;
}

.content-header h3 {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

input[type="text"] {
    padding-top: 2px;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    width: 80%;
    background: transparent;
    border-bottom: 1px solid #DBD9D9;
    margin-bottom: 3px;
    overflow: hidden;
    line-height: 30px;
    margin: 10px auto;
}

textarea {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    width: 80%;
    background: transparent;
    border-bottom: 1px solid #DBD9D9;
    ;
    overflow: hidden;
    height: 70px;
    margin: 10px auto;
}

input[type="submit"] {
    margin: 20px auto;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    width: 80%;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 12px;
    border-radius: 20px;
    background: #357BBC;
}